[submodule "plugins/vscode"]
	path = custom-shared/plugins/vscode
	url = https://github.com/valentinocossar/vscode
[submodule "plugins/zsh-autosuggestions"]
	path = custom-shared/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/zsh-syntax-highlighting"]
	path = custom-shared/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "custom-shared/plugins/zsh-ezcolors"]
	path = custom-shared/plugins/zsh-ezcolors
	url = https://github.com/c0sco/zsh-ezcolors.git
[submodule "custom-shared/plugins/ssh-autocomplete"]
	path = custom-shared/plugins/ssh-autocomplete
	url = https://github.com/c0sco/ssh-autocomplete.git
